nav {
  background-color: #d3dce6;
  padding: 0 1em;
  a {
    color: #333;
    text-decoration: none;
    padding: 1em;
    display: inline-block;
    + a {
      margin-left: 1em;
    }
    &.active {
      text-decoration: underline;
    }
  }
}